
<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma senha</label> 
        <input placeholder="Insira uma senha" name="password" type="password" id="room-pass">
        <button>
            <img src="/images/users-white.svg" alt="Entrar na sala">
            Criar sala
        </button>
    </form>
</section>